$default: #202227;
$blue: #5F79B1;
$red: #E7411D;
$gray: #D9DEE3;
$gray2: #67748E;
$gray3: #e9e9e9;
$gray4: #464D5B;
$gray5: #fbfbfb;
$gray6: #535966;
$gray7: #f8f9fa;
$gray8: #f6f8f9;
$border: #D8DEE5;
$back: #EEF2F4;
$white: #ffffff;
$black: #000000;
$block: #fefefe;
$green: #14AE5C;