@use '../common/variables' as *;
@use '../common/fonts' as *;


.footer {
	
}

@media (max-width: 1279px) {
	.footer {
		
	}
}

@media (max-width: 959px) {
	.footer {
		
	}
}

@media (max-width: 767px) {
	.footer {
		
	}
}