@use '../common/variables' as *;
@use '../common/fonts' as *;

.header {
	border: 1px solid #FFF;
	background: #FFF;
	display: flex; 
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	min-height: 60px;
	padding: 15px 25px;
	border-bottom: 1px solid $border;
	& .logo {
		height: 30px;
		display: none;
	}
	& .header_actions {
		display: flex; 
		flex-flow: row wrap;
		align-items: center;
		justify-content: flex-end;
		gap: 6px;
		flex: 1;
	}
	& .btn {
		height: 35px;
	}
}

@media (max-width: 1279px) {
	.header {
		
	}
}
@media (max-width: 959px) {
	.header {
		
	}
}

@media (max-width: 767px) {
	.header {
		
	}
}