@use '../common/variables' as *;
@use '../common/fonts' as *;

.header {
	border: 1px solid #FFF;
	background: #FFF;
	display: flex; 
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	min-height: 60px;
	padding: 15px 25px;
	border-bottom: 1px solid $border;
	& .logo {
		height: 30px;
		display: none;
	}
	& .mobile-menu-toggle {
		width: 34px;
		height: 30px;
		background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2217%22%20height%3D%2215%22%20viewBox%3D%220%200%2017%2015%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20opacity%3D%220.7%22%3E%3Cpath%20d%3D%22M0.75%2013.3311H15.75%22%20stroke%3D%22%23202227%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M0.75%207.04053H15.75%22%20stroke%3D%22%23202227%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M0.75%200.75H15.75%22%20stroke%3D%22%23202227%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
		background-repeat: no-repeat;
	      background-position: center;
	      cursor: pointer;
	      display: none;
	}
	& .header_actions {
		display: flex; 
		flex-flow: row wrap;
		align-items: center;
		justify-content: flex-end;
		gap: 6px;
		flex: 1;
	}
	& .btn {
		height: 35px;
	}
}

@media (max-width: 1279px) {
	.header {
		
	}
}
@media (max-width: 959px) {
	.header {
		
	}
}

@media (max-width: 767px) {
	.header {
		
	}
}