/* NORMALIZE */

* {
    box-sizing: border-box;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}


*::after,
*::before {
    box-sizing: border-box;
    vertical-align: baseline;
}

a {
    text-decoration: none;
}


ul,
ol {
    padding-left: 0;
    list-style: none;
}

li {
    letter-spacing: 0px;
    list-style: none;
}

body,
blockquote,
figure {
    margin: 0;
}

html {
  /* overflow-y: scroll !important; */
  scroll-behavior: smooth;
}

/* Класс для блокировки */
.no-scroll {
  overflow: hidden !important;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}


textarea{
    resize: none;
}

input,
textarea,
select,
button {
    font: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    background: inherit;
    cursor: pointer;
}

input:hover,
input:focus-visible,
input:active,
textarea:hover,
textarea:focus-visible,
textarea:active {
    opacity: 0.5;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Aeonik Pro", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    overflow-x: hidden;
    color: #2B2E3A;
    background: #F3F4F5;
    box-sizing: border-box;
    letter-spacing: 0px;
}

main {
    flex-grow: 1;
}

input, textarea, select {
    outline: none;
    border: none;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

input {
    width: -webkit-fill-available;
}