@use '../common/variables' as *;
@use '../common/fonts' as *;

.checkbox_block {
	user-select: none;
	& input[type='checkbox'] {
		display: none;
		& + label {
			display: block;
			position: relative;
			padding-left: 25px;
			margin-right: 30px;
			cursor: pointer;
			color: $gray2;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 1.3;
			width: fit-content;
			&:hover {
				color: $red;
			}
			&:before {
				content: '';
				position: absolute;
				left: 0; 
				top: 0;
				width: 18px; 
				height: 18px;
				border-radius: 3px;
				border: 0;
				background: $back;
				box-shadow: 0 1px 1px 0 $border inset;
			}
			&:after {
				content: '';
				position: absolute;
				transition: all 0.2s ease;
				left: 4px; 
				top: 4px;
				width: 11px; 
				height: 7px;
				border-left: 3px solid $white; 
				border-bottom: 3px solid $white;
				transform: rotate(-45deg);
				border-radius: 1px;
			}
		}
		&:not(:checked) + label:after {
			opacity: 0;
		}
		&:checked {
			& + label:before {
				background-color: $red;
			}
			& + label:after {
				opacity: 1;
			}
		}
	}
	&:not(:first-child) {
		margin-top: 25px;
	}
}