@use '../common/variables' as *;
@use '../common/fonts' as *;

.radio_block {
    user-select: none;
    
    input[type='radio'] {
        display: none;
        
        & + label {
            display: block;
            position: relative;
            padding-left: 25px;
            margin-right: 30px;
            cursor: pointer;
            color: $gray2;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.3;
            transition: color 0.2s ease;
            
            &:hover {
                color: $gray2;
            }
            
            &:before {
                content: '';
                position: absolute;
                left: 0; 
                top: 0;
                width: 18px; 
                height: 18px;
                border-radius: 50%;
                border: 0;
                background: $back;
                box-shadow: 0 1px 1px 0 $border inset;
                transition: all 0.2s ease;
            }
            
            &:after {
                content: '';
                position: absolute;
                transition: all 0.2s ease;
                left: 5px; 
                top: 5px;
                width: 8px; 
                height: 8px;
                border-radius: 50%;
                background-color: $white;
                transform: scale(0);
            }
        }
        
        &:not(:checked) + label:after {
            opacity: 0;
            transform: scale(0);
        }
        
        &:checked {
            & + label:before {
                background-color: $red;
            }
            
            & + label:after {
                opacity: 1;
                transform: scale(1);
            }
        }
        
        &:disabled {
            & + label {
                cursor: not-allowed;
                opacity: 0.6;
                
                &:before {
                    background-color: $back;
                }
            }
        }
    }
    
    // Для горизонтального расположения радио-кнопок
    &.horizontal {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        
        input[type='radio'] + label {
            margin-right: 0;
            margin-bottom: 0;
        }
    }
    
    // Размеры радио-кнопок
    &.small {
        input[type='radio'] + label {
            font-size: 13px;
            padding-left: 22px;
            
            &:before {
                width: 16px;
                height: 16px;
            }
            
            &:after {
                left: 4px;
                top: 4px;
                width: 8px;
                height: 8px;
            }
        }
    }
    
    &.large {
        input[type='radio'] + label {
            font-size: 16px;
            padding-left: 30px;
            
            &:before {
                width: 24px;
                height: 24px;
            }
            
            &:after {
                left: 7px;
                top: 7px;
                width: 10px;
                height: 10px;
            }
        }
    }
}

// Стили для контейнера радиокнопок в форме
.input_block .radio_block {
    margin-top: 10px;
    
    input[type='radio'] + label {
        margin-bottom: 10px;
        
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

// Адаптивность
@media (max-width: 768px) {
    .radio_block.horizontal {
        flex-direction: column;
        gap: 10px;
    }
}