@use '../common/variables' as *;
@use '../common/fonts' as *;

.head {
	& .title {

	}
	& .button_block {
		margin: 25px 0px 0px;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		gap: 12px;
	}
	& .search_block {
		margin: 25px 0px 15px;
		border-radius: 10px;
		background: $block;
		box-shadow: 0 0.5px 0 0 $border;
		padding: 25px;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		gap: 35px;
		& .searchs {
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			gap: 5px;
			flex: 1;
			& .items_count {
				width: 100px;
				color: $gray4;
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 1.6;
				& span {
					display: block;
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: 1.5;
				}
			}
			& .search_form {
				border-radius: 5px;
				border: 0;
				background: $back;
				box-shadow: 0 0px 1px 0 $gray inset;
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				gap: 0px;
				width: 100%;
				max-width: 610px;
				border-radius: 5px;
				& .search {
					color: $default;
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: 1;
					height: 40px;
					display: flex;
					align-items: center;
					padding: 0px 20px;
					width: calc(100% - 58px);
					border: 0px;
					border-radius: 5px;
					opacity: 1;
					&::placeholder {
						color: $gray2;
						opacity: 1;
					}
					&:focus {
						color: $default;
						opacity: 1;
					}
				}
				& .search_btn {
					width: 58px;
					height: 40px;
					display: flex;
					align-items: center;
					justify-content: center;
					cursor: pointer;
					border: 0px;
					border-radius: 5px;
					&:before {
						content: '';
						width: 18px;
						height: 18px;
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M8.625 15.75C12.56 15.75 15.75 12.56 15.75 8.625C15.75 4.68997 12.56 1.5 8.625 1.5C4.68997 1.5 1.5 4.68997 1.5 8.625C1.5 12.56 4.68997 15.75 8.625 15.75Z' stroke='%23202227' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.5 16.5L15 15' stroke='%23202227' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
					}
				}
			}
		}
	}
}