@use 'common/variables' as *;
@use 'common/fonts' as *;
@use 'common/icons' as *;

.table_container {
	border-radius: 10px;
	background: $block;
	box-shadow: 0 0.5px 0 0 $border;
	overflow: hidden;
	& .table_header {
		background: $gray5;
		display: flex;
		flex-flow: row nowrap;
		& .pole {
			padding: 15px 20px;
			color: $gray2;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 1.4;

			&.handler_block {
				width: 60px;
			}
			&.info {
				flex: 1;
				min-width: 200px;
			}
			&.category {
				width: 200px;
			}
			&.description {
				width: 500px;
			}
			&.image {
				width: 140px;
			}
			&.image_preview {
				width: 100px;
			}
			&.image_big {
				flex: 1;
				min-width: 200px;
			}
			&.modified_date {
				width: 190px;
			}
			&.actions {
				width: 200px;
			}
		}
	}
	& .table_row {
		background: $block;
		display: flex;
		flex-flow: row nowrap;
		border-top: 1px solid $border;
		& .pole {
			padding: 15px 20px;
			color: $gray6;
			font-feature-settings: 'liga' off, 'clig' off;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 1.4;
			& .title {
				display: none;
			}
			&.handler {
				margin: 3px 0px 0px 0px;
				width: 60px;
				display: flex;
				align-items: flex-start;
				justify-content: center;
				opacity: 0.4;
				&:before {
					content: '';
					width: 17px;
					height: 15px;
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='15' viewBox='0 0 17 15' fill='none'%3E%3Cg opacity='0.7'%3E%3Cpath d='M0.75 13.3312H15.75' stroke='%23202227' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M0.75 7.04059H15.75' stroke='%23202227' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M0.75 0.75H15.75' stroke='%23202227' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E");
				}
				&.active {
					opacity: 1;
					cursor: pointer;
				}
			}
			&.info {
				flex: 1;
				min-width: 200px;
				& .name {
					& a {
						color: $blue;
						border-bottom: 1px dashed;
					}
				}
				& .link {
					color: $blue;
					font-size: 12px;
					margin-top: 5px;
					display: inline-block;
				}
				& .comment,
				& .textshort {
					color: $gray2;
					font-size: 12px;
					font-weight: 500;
					margin-top: 3px;
					&.breadcrumbs {
						margin: 0px;
						& .path,
						& .path_arr {
							font-size: 12px;
						}
					}
					&.alarm {
						color: $red;
					}
					&.success {
						color: $green;
					}
				}
				& .date {
					color: $green;
					font-size: 12px;
					font-weight: 500;
					margin-bottom: 3px;
				}
			}
			&.modified_date {
				width: 190px;
				
			}
			&.description {
				width: 500px;
			}
			&.image {
				width: 140px;
				& img {
					max-width: 30px;
					//margin: auto;
				}
			}
			&.image_preview {
				width: 100px;
				& img {
					width: 50px;
					height: auto;
				}
			}
			&.image_big {
				flex: 1;
				min-width: 200px;
				& img {
					max-width: 500px;
					height: auto;
				}
			}
			&.category {
				width: 200px;
				color: $green;
			}
			&.actions {
				width: 200px;
				height: 52px;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				gap: 16px;
				& .action {
					cursor: pointer;
					&.icon_show {
						opacity: 0.3;
					}
					&.hide {
						visibility: hidden;
					}
					&:hover {
						//filter: brightness(0) saturate(100%) invert(44%) sepia(98%) saturate(1200%) hue-rotate(352deg) brightness(90%) contrast(95%);
					}
					&.active {
						opacity: 1;
					}
				}
			}
		}		
	}
	& .sortbox-items {
		& .handler {
			cursor: pointer;
		}
	}
}
.not_found {
	color: $gray6;
	font-feature-settings: 'liga' off, 'clig' off;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.4;
	padding: 10px 25px;
}


.editHead {
	& h1 {
		font-family: "Aeonik Pro",sans-serif;
		font-size: 24px;
		font-style: normal;
		font-weight: 500;
		line-height: 1;
		letter-spacing: -0.48px;
	}
	& .button_block {
		margin: 25px 0px 0px;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		gap: 12px;
		& .btn {

		}
	}
}
.edit_block {
	margin: 20px 0px 0px;
	border-radius: 10px;
	background: $block;
	box-shadow: 0 0.5px 0 0 $border;
	padding: 45px 70px;
	.edit_form {
		width: 100%;
		max-width: 715px;
		& .button_block {
			margin: 25px 0px 0px;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			gap: 12px;
		}
	}
}

fieldset {
	border-radius: 5px;
	border: 1px solid $border;
	background: $white;
	& legend {
		padding: 0px 10px;
		background: $block;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 1;
	}
}

.flex2 {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
	margin: 0px 0px 0px;
	& > .textarea_block,
	& > .select_block,
	& > .input_block {
		width: calc(50% - 10px);
		margin-top: 25px;
	}
	& > .checkbox_block {
		width: calc(50% - 10px);
		margin-top: 55px;
	}
	&.top {
		align-items: flex-start;
		& > .checkbox_block {
			margin-top: 25px;
		}
	}
}
.flex3 {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
	margin: 0px 0px 0px;
	& > .textarea_block,
	& > .select_block,
	& > .input_block {
		width: calc(33.33% - 12px);
		margin-top: 25px;
	}
	& > .checkbox_block {
		width: calc(33.33% - 12px);
		margin: 55px 0px 0px;
	}
	&.top,
	&:first-child {
		& > .textarea_block,
		& > .select_block,
		& > .input_block {
			margin-top: 0px;
		}
		& > .checkbox_block {
			margin: 30px 0px 0px;
		}
	}
	&.top {
		margin-top: 15px;
		& > .checkbox_block {
			margin: 10px 0px 0px;
		}
	}
}
.flex4 {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
	& > .textarea_block,
	& > .select_block,
	& > .input_block {
		width: calc(25% - 20px);
		margin-top: 25px;
	}
	& > .checkbox_block {
		width: calc(25% - 20px);
		margin-top: 55px;
	}
}



.edit_tabs {
	margin-bottom: 20px;
	& .edit_tabs_nav {
		display: flex;
		flex-flow: row wrap;
		gap: 10px;
		border-bottom: 1px solid $border;
		margin: 0px 0px 20px;
		padding: 0px 0px 20px;
		& .edit_tab_nav {
			padding: 10px 20px;
			background: $back;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			font-size: 14px;
			color: $gray2;
			&.active {
				background: $blue;
				color: $white;
				font-weight: 500;
			}
		}
	}
	& .edit_tabs_content {
		position: relative;
		& .edit_tab_content {
			display: none;
			&.active {
				display: block;
			}
		}
	}
}

	


.table_container .image_preview {
    width: 70px;
}

.table_container .image_preview img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
}

.table_container .no-image {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $back;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.1;
    color: $gray2;
    text-align: center;
}

.date_modified {
    font-size: 12px;
    line-height: 1.3;
}

.bareadcrumbs_block {
	width: 100%;
	padding: 10px 15px 15px;
	border-radius: 5px;
	background: $back;
	box-shadow: 0 1px 1px 0 $border inset;
	margin: 0px 0px 25px;
	& .breadcrumbs {
		margin: 0px;
	}
}

.alert {
	font-size: 15px;
	line-height: 1.4;
	&.alert-danger {
		color: $red;
	}
}


/* Стили для черновиков */
.draft-badge {
    display: inline-block;
    margin-left: 10px;
    padding: 3px 8px;
    background: #ff9800;
    color: white;
    font-size: 14px;
    border-radius: 3px;
    vertical-align: middle;
}

.published-badge {
    display: inline-block;
    margin-left: 10px;
    padding: 3px 8px;
    background: #4caf50;
    color: white;
    font-size: 14px;
    border-radius: 3px;
    vertical-align: middle;
}


.params_description {
	font-size: 14px;
	line-height: 1.4;
    margin: 25px 0px 0px;
    font-weight: 500;
    color: $green;
    &.error {
    	color: $red;
    }
}

.catalogPriceAdd {
	margin: 25px 0px 0px;
}

.status_inactive {
	color: $red;
}