@use 'common/variables' as *;
@use 'common/fonts' as *;

.black {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 98;
    background: rgba(0,0,0,0.45);
}
.mod {
    position: fixed;
    top: 50%;
    left: 50%; 
    z-index: 99; 
    &.hidden {
        opacity: 0;
    }
}
.close {
    background-repeat: no-repeat; 
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22' fill='none'%3E%3Cg opacity='0.7'%3E%3Cpath d='M5.29495 5.29504L15.8849 15.885' stroke='%23202227' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5.29504 15.885L15.885 5.29504' stroke='%23202227' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E");
    position: absolute; 
    right: 20px; 
    top: 20px; 
    width: 20px; 
    height: 20px; 
    border: 0px; 
    cursor: pointer; 
    z-index: 99;
}
.dialog {
    cursor: pointer
}
.modbox {
    padding: 0px; 
    min-width: 240px;
    max-width: 750px;
    background: #ffffff;
    color: $default;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.16px;
    border: 1px solid $border;
    border-radius: 5px;
    & .alert-modal {
        padding: 20px 20px;
        & .alert-message {
            font-size: 16px;
            line-height: 1.4;
            text-align: center;
        }
        & .alert-buttons {
            margin: 20px 0px 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            & .alert-ok {
                background: $red;
                color: $white;
            }
        }
    }
    & .confirm-modal {
        padding: 20px 20px;
        & .confirm-message {
            font-size: 16px;
            line-height: 1.4;
            text-align: center;
        }
        & .confirm-buttons {
            margin: 20px 0px 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            & .confirm-yes {
                border: 1px solid $red;
                background: $red;
                color: $white;
                &:hover {
                    color: $red;
                    background: $white;
                }
            }
            & .confirm-no {
                background: $back;
                box-shadow: 0 0.5px 0 0 $border;
                &:hover {
                    color: $red;
                }
            }
        }
    }
}

.notice {
    display: none;
}


@media (max-width: 1279px) {
    .modbox {
        padding: 40px 40px; 
    }
}
@media (max-width: 959px) {
    .modbox {
        padding: 30px 30px; 
    }
}
@media (max-width: 767px) {
    .mod {
        width: calc(100% - 30px);
    }
    .modbox {
        width: 100%;
        padding: 20px 20px; 
    }
}