@use '../common/variables' as *;
@use '../common/fonts' as *;

::-webkit-scrollbar-button {
  background-image:url('');
  background-repeat:no-repeat;
  width:6px;
  height:6px;
}

::-webkit-scrollbar-track {
  background-color: $gray;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: $red;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover{
  background-color: $red;
}

::-webkit-resizer{
  background-image:url('');
  background-repeat:no-repeat;
  width:6px;
  height:6px;
}

::-webkit-scrollbar{
  width: 6px;
  height: 6px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  outline: none;
}

body {
  font-family: 'Onest', sans-serif;
}


.container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  & .main_content {
    width: calc(100% - 320px);
    background: $back;
    display: flex;
    flex-flow: column wrap;
    & .content {
      padding: 25px;
      height: calc(100vh - 67px);
      overflow: auto;
    }
  }
}

.btn {
  border-radius: 5px;
  color: $gray2;
  font-family: Onest;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  padding: 0px 20px;
  height: 40px;
  &.btn_gray {
    background: $back;
    box-shadow: 0 0.5px 0 0 $border;
    padding: 0px 25px;
    &:hover {
      color: $red;
    }
  }
  &.btn_transparent {
    border: 2px solid $back;
    box-shadow: 0 0.5px 0 0 $border;
    padding: 0px 15px;
    &:hover {
      color: $red;
    }
  }
  &.btn_red {
    border-radius: 5px;
    background: $red;
    box-shadow: 0 0.5px 0 0 $border;
    color: $white;
    border: 1px solid $red;
    &:hover {
      color: $red;
      background: $white;
    }
  }
  &.btn_green {
    border-radius: 5px;
    background: $green;
    box-shadow: 0 0.5px 0 0 $border;
    color: $white;
    border: 1px solid $green;
    &:hover {
      color: $green;
      background: $white;
    }
    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
      &:hover {
        background: $green;
        color: $white;
      }
    }
  }
  &.btn_white {
    border-radius: 5px;
    background: $white;
    box-shadow: 0 0.5px 0 0 $border;
    color: $default;
    &:hover {
      color: $red;
    }
  }
  &.btn_add {
    &:before {
      content: '';
      width: 14px;
      height: 14px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M0.75 6.75H12.75' stroke='%23202227' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.75 12.75V0.75' stroke='%23202227' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      filter: brightness(0) saturate(100%) invert(100%);
    }
    &.btn_gray {
      &:before {
        filter: invert(22%) sepia(83%) saturate(2316%) hue-rotate(345deg) brightness(94%) contrast(101%);
      }
    }
    &:hover {
      &:before {
        filter: invert(22%) sepia(83%) saturate(2316%) hue-rotate(345deg) brightness(94%) contrast(101%);
      }
    }
  }
  &.btn_back {
    padding: 0px 20px 0px 15px;
    &:before {
      content: '';
      display: block;
      width: 7px;
      height: 14px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='14' viewBox='0 0 7 14' fill='none'%3E%3Cpath d='M6.07312 12.63L1.18312 7.74C0.60562 7.1625 0.60562 6.2175 1.18312 5.64L6.07312 0.75' stroke='%23202227' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      background-size: contain;
    }
    &:hover {
      color: $red;
      &:before {
        filter: invert(22%) sepia(83%) saturate(2316%) hue-rotate(345deg) brightness(94%) contrast(101%);
      }
    }
  }
}

h1 {
  font-family: "Aeonik Pro",sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.48px;
}

.none {
  display: none !important;
}


.mce-container-body .mce-resizehandle {
  display: none;
}
.mce-tinymce.mce-container.mce-panel {
  border-radius: 5px;
  overflow: hidden;
}

.mce-tinymce.mce-container.mce-panel iframe html body {
  background: #ccc;
}

.map {
  width: 100%;
  height: 400px;
}