@use '../common/variables' as *;
@use '../common/fonts' as *;

.file_block {
	width: 100%;
	padding: 15px;
	border-radius: 5px;
	background: $back;
	box-shadow: 0 1px 1px 0 $border inset;
	& input {
		display: none;
		& + label {
			color: $white;
			font-size: 0.75em;
			line-height: 1;
			text-transform: uppercase;
			background: $blue;
			border: 1px solid $border;
			padding: 0px 40px;
			height: 40px;
			display: flex;
			align-items: center;
			cursor: pointer;
			width: fit-content;
			transition: all 0.15s ease-out;
			border-radius: 5px;
			text-overflow: ellipsis;
			:hover {
				opacity: 0.8;
			}
			&.set {
				background: $red;
			}
		}
	}
	& span {
		display: block;
		font-size: 0.75em;
		letter-spacing: 0.4px;
		line-height: 1.2em;
		padding: 0px 0px 0 0;
		margin-bottom: 5px;
		font-size: 13.5px;
		color: $default;
		min-width: 80px;
		padding-right: 10px;
	}
	&>span {
		min-width: 50px;
		margin-right: 7px;
		display: inline-block;
	}
	& .file_card {
		width: fit-content;
		min-width: 50px;
		margin: 10px 0px 0px;
		overflow: hidden;
		text-align: center;
		border: 1px solid $border !important;
		border-radius: 5px;
		box-shadow: 0 0 26px $border;
		height: 58px;
		background: $white;
		display: flex;
		flex-flow: row wrap !important;
		align-items: center;
		gap: 8px;
		padding: 8px;
		& .file_name {
			font-size: 14px;
			line-height: 1;
			padding: 0px 0px 0px 12px;
			color: $blue;
		}
		& .button {
			width: 42px;
			height: 42px;
			padding: 0;
			border: none;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: none;
			cursor: move;
			cursor: grab;
			user-select: none;
			transition: opacity 0.2s ease, background-color 0.2s ease;
			color: $default;
			&:after {
				content: '';
				display: block;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
			}
			&.open {
				&:after {
					content: '';
					display: block;
					width: 14px;
					height: 14px;
					background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.7'%3E%3Cpath d='M8.6665 7.33385L14.1332 1.86719' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.6668 4.53398V1.33398H11.4668' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.3335 1.33398H6.00016C2.66683 1.33398 1.3335 2.66732 1.3335 6.00065V10.0007C1.3335 13.334 2.66683 14.6673 6.00016 14.6673H10.0002C13.3335 14.6673 14.6668 13.334 14.6668 10.0007V8.66732' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E");
				}
			}
			&.delete {
				&:after {
					content: '';
					display: block;
					width: 20px;
					height: 20px;
					background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.29495 5.29504L15.8849 15.885' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5.29504 15.885L15.885 5.29504' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
				}
			}
			&:hover {
				background-color: $back;
			}
		}
	}
}