@use '../common/variables' as *;
@use '../common/fonts' as *;

.input_block {
	& .title {
		color: $gray2;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 1;
		margin-bottom: 7px;
		display: block;
	}
	& input {
		border-radius: 5px;
		border: 0;
		background: $back;
		box-shadow: 0 1px 1px 0 $border inset;
		height: 40px;
		padding: 0px 20px;
		display: flex;
		align-items: center;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 1;
		&[type=date] {
			display: block;
			&::-webkit-calendar-picker-indicator {
			    width: 18px;
			    height: 18px;
			    cursor: pointer;
			    position: relative;
			    z-index: 1;
			    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M8 2V5' stroke='%23202227' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 2V5' stroke='%23202227' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.5 9.09009H20.5' stroke='%23202227' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21 8.5V17C21 20 19.5 22 16 22H8C4.5 22 3 20 3 17V8.5C3 5.5 4.5 3.5 8 3.5H16C19.5 3.5 21 5.5 21 8.5Z' stroke='%23202227' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.6947 13.7H15.7037' stroke='%23202227' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.6947 16.7H15.7037' stroke='%23202227' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.9955 13.7H12.0045' stroke='%23202227' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.9955 16.7H12.0045' stroke='%23202227' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.29431 13.7H8.30329' stroke='%23202227' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.29431 16.7H8.30329' stroke='%23202227' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
			    background-position: center;
			    background-repeat: no-repeat;
			    background-size: contain;
			    color: $gray2;
			}
		}
	}
	&:not(:first-child) {
		margin-top: 25px;
	}
}