@use '../common/variables' as *;
@use '../common/fonts' as *;

.textarea_block {
	& .title {
		color: $gray2;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 1;
		margin-bottom: 7px;
		display: block;
	}
	& textarea {
		border-radius: 5px;
		border: 0;
		background: $back;
		box-shadow: 0 1px 1px 0 $border inset;
		height: 40px;
		width: 100%;
		padding: 10px 20px;
		resize: none;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 1.4;
	}
	&:not(:first-child) {
		margin-top: 25px;
	}
}