::-webkit-scrollbar-button {
  background-image:url('');
  background-repeat:no-repeat;
  width:6px;
  height:6px;
}

::-webkit-scrollbar-track {
  background-color:$gray;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color:$orange;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover{
  background-color: $orange;
}

::-webkit-resizer{
  background-image:url('');
  background-repeat:no-repeat;
  width:6px;
  height:6px;
}

::-webkit-scrollbar{
  width: 6px;
  height: 6px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  outline: none;
  font-family: 'Manrope', sans-serif;
}



body {
  font-family: 'Manrope', sans-serif;
  color: $default;
  font-size: 18px;
  font-weight: normal;  line-height: 1.6;
  &.hidden {
    overflow: hidden;
    height: 100vh;
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 7;
      background: $black;
      opacity: 0.5;
    }
  }
  &.hiddens {
    overflow: hidden;
    height: 100vh;
    position: relative;
  }
  & .overflow {
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    position: relative;
  }
}

img {
  max-width: 100%;
  vertical-align: bottom; 
}

ul {
  margin-left: 22px;
//  list-style-image: url('/public/src/images/li.png'); 
}
li
{
  padding: 0px 0px 5px 0px;
}
ol {
  margin-left: 20px;
}

.ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: space-between;
  list-style: none; 
  margin: 0px;
  & .li {
    width: 100%;
    margin: 0px 0px 15px;
    color: $default;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 25.2px */
    letter-spacing: -0.34px;
    padding-left: 45px;
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 27px;
      height: 2px;
      background: $orange;
      position: absolute;
      top: 12px;
      left: 0px;
    }
  }
}

a
{
  color: $orange;
  text-decoration: none;
  border-bottom: 0px;
}
p {
  &:not(:first-child) {
    padding: 15px 0px 0px 0px;
  }
}

textarea {
  resize: none; 
}

.none {
  display: none !important;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

h1,h2,h3,h4,h5,h6
{
  color: $default;
  font-family: "Mabry Pro";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -2.25px;
}
h1
{
  font-size: 70px;
}
h2
{
  font-size: 24px;
}
h3
{
  font-size: 22px;
}
h4
{
  font-size: 20px;
}
h5
{
  font-size: 18px;
}
h6
{
  font-size: 16px;
}

.wrapper {
  width: 1160px;
  margin: auto;
}



@media (max-width: 1279px) {
  .wrapper {
    width: 900px;
  }
}
@media (max-width: 959px) {
  .wrapper {
    width: 700px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    width: calc(100% - 30px);
  }

  .ul {
    & .li {
      padding-left: 35px;
      &:before {
        width: 17px;
      }
    }
  }
}