@font-face {
    font-family: 'Mabry Pro';
    src: url('/public/src/fonts/MabryPro/MabryPro-Bold.eot');
    src: local('Mabry Pro Bold'), local('MabryPro-Bold'),
        url('/public/src/fonts/MabryPro/MabryPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('/public/src/fonts/MabryPro/MabryPro-Bold.woff2') format('woff2'),
        url('/public/src/fonts/MabryPro/MabryPro-Bold.woff') format('woff'),
        url('/public/src/fonts/MabryPro/MabryPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mabry Pro';
    src: url('/public/src/fonts/MabryPro/MabryPro-Medium.eot');
    src: local('Mabry Pro Medium'), local('MabryPro-Medium'),
        url('/public/src/fonts/MabryPro/MabryPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('/public/src/fonts/MabryPro/MabryPro-Medium.woff2') format('woff2'),
        url('/public/src/fonts/MabryPro/MabryPro-Medium.woff') format('woff'),
        url('/public/src/fonts/MabryPro/MabryPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mabry Pro';
    src: url('/public/src/fonts/MabryPro/MabryPro-Black.eot');
    src: local('Mabry Pro Black'), local('MabryPro-Black'),
        url('/public/src/fonts/MabryPro/MabryPro-Black.eot?#iefix') format('embedded-opentype'),
        url('/public/src/fonts/MabryPro/MabryPro-Black.woff2') format('woff2'),
        url('/public/src/fonts/MabryPro/MabryPro-Black.woff') format('woff'),
        url('/public/src/fonts/MabryPro/MabryPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mabry Pro';
    src: url('/public/src/fonts/MabryPro/MabryPro-LightItalic.eot');
    src: local('Mabry Pro Light Italic'), local('MabryPro-LightItalic'),
        url('/public/src/fonts/MabryPro/MabryPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/public/src/fonts/MabryPro/MabryPro-LightItalic.woff2') format('woff2'),
        url('/public/src/fonts/MabryPro/MabryPro-LightItalic.woff') format('woff'),
        url('/public/src/fonts/MabryPro/MabryPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mabry Pro';
    src: url('/public/src/fonts/MabryPro/MabryPro-BoldItalic.eot');
    src: local('Mabry Pro Bold Italic'), local('MabryPro-BoldItalic'),
        url('/public/src/fonts/MabryPro/MabryPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/public/src/fonts/MabryPro/MabryPro-BoldItalic.woff2') format('woff2'),
        url('/public/src/fonts/MabryPro/MabryPro-BoldItalic.woff') format('woff'),
        url('/public/src/fonts/MabryPro/MabryPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mabry Pro';
    src: url('/public/src/fonts/MabryPro/MabryPro-Light.eot');
    src: local('Mabry Pro Light'), local('MabryPro-Light'),
        url('/public/src/fonts/MabryPro/MabryPro-Light.eot?#iefix') format('embedded-opentype'),
        url('/public/src/fonts/MabryPro/MabryPro-Light.woff2') format('woff2'),
        url('/public/src/fonts/MabryPro/MabryPro-Light.woff') format('woff'),
        url('/public/src/fonts/MabryPro/MabryPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mabry Pro';
    src: url('/public/src/fonts/MabryPro/MabryPro-BlackItalic.eot');
    src: local('Mabry Pro Black Italic'), local('MabryPro-BlackItalic'),
        url('/public/src/fonts/MabryPro/MabryPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('/public/src/fonts/MabryPro/MabryPro-BlackItalic.woff2') format('woff2'),
        url('/public/src/fonts/MabryPro/MabryPro-BlackItalic.woff') format('woff'),
        url('/public/src/fonts/MabryPro/MabryPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mabry Pro';
    src: url('/public/src/fonts/MabryPro/MabryPro-MediumItalic.eot');
    src: local('Mabry Pro Medium Italic'), local('MabryPro-MediumItalic'),
        url('/public/src/fonts/MabryPro/MabryPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('/public/src/fonts/MabryPro/MabryPro-MediumItalic.woff2') format('woff2'),
        url('/public/src/fonts/MabryPro/MabryPro-MediumItalic.woff') format('woff'),
        url('/public/src/fonts/MabryPro/MabryPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mabry Pro';
    src: url('/public/src/fonts/MabryPro/MabryPro-Italic.eot');
    src: local('Mabry Pro Italic'), local('MabryPro-Italic'),
        url('/public/src/fonts/MabryPro/MabryPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('/public/src/fonts/MabryPro/MabryPro-Italic.woff2') format('woff2'),
        url('/public/src/fonts/MabryPro/MabryPro-Italic.woff') format('woff'),
        url('/public/src/fonts/MabryPro/MabryPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mabry Pro';
    src: url('/public/src/fonts/MabryPro/MabryPro-Regular.eot');
    src: local('Mabry Pro'), local('MabryPro-Regular'),
        url('/public/src/fonts/MabryPro/MabryPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('/public/src/fonts/MabryPro/MabryPro-Regular.woff2') format('woff2'),
        url('/public/src/fonts/MabryPro/MabryPro-Regular.woff') format('woff'),
        url('/public/src/fonts/MabryPro/MabryPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('/public/src/fonts/Manrope/Manrope-Bold.eot');
    src: local('Manrope Bold'), local('Manrope-Bold'),
        url('/public/src/fonts/Manrope/Manrope-Bold.eot?#iefix') format('embedded-opentype'),
        url('/public/src/fonts/Manrope/Manrope-Bold.woff2') format('woff2'),
        url('/public/src/fonts/Manrope/Manrope-Bold.woff') format('woff'),
        url('/public/src/fonts/Manrope/Manrope-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('/public/src/fonts/Manrope/Manrope-Semibold.eot');
    src: local('Manrope Semibold'), local('Manrope-Semibold'),
        url('/public/src/fonts/Manrope/Manrope-Semibold.eot?#iefix') format('embedded-opentype'),
        url('/public/src/fonts/Manrope/Manrope-Semibold.woff2') format('woff2'),
        url('/public/src/fonts/Manrope/Manrope-Semibold.woff') format('woff'),
        url('/public/src/fonts/Manrope/Manrope-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('/public/src/fonts/Manrope/Manrope-Regular.eot');
    src: local('Manrope Regular'), local('Manrope-Regular'),
        url('/public/src/fonts/Manrope/Manrope-Regular.eot?#iefix') format('embedded-opentype'),
        url('/public/src/fonts/Manrope/Manrope-Regular.woff2') format('woff2'),
        url('/public/src/fonts/Manrope/Manrope-Regular.woff') format('woff'),
        url('/public/src/fonts/Manrope/Manrope-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('/public/src/fonts/Manrope/Manrope-Light.eot');
    src: local('Manrope Light'), local('Manrope-Light'),
        url('/public/src/fonts/Manrope/Manrope-Light.eot?#iefix') format('embedded-opentype'),
        url('/public/src/fonts/Manrope/Manrope-Light.woff2') format('woff2'),
        url('/public/src/fonts/Manrope/Manrope-Light.woff') format('woff'),
        url('/public/src/fonts/Manrope/Manrope-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('/public/src/fonts/Manrope/Manrope-Thin.eot');
    src: local('Manrope Thin'), local('Manrope-Thin'),
        url('/public/src/fonts/Manrope/Manrope-Thin.eot?#iefix') format('embedded-opentype'),
        url('/public/src/fonts/Manrope/Manrope-Thin.woff2') format('woff2'),
        url('/public/src/fonts/Manrope/Manrope-Thin.woff') format('woff'),
        url('/public/src/fonts/Manrope/Manrope-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('/public/src/fonts/Manrope/Manrope-Medium.eot');
    src: local('Manrope Medium'), local('Manrope-Medium'),
        url('/public/src/fonts/Manrope/Manrope-Medium.eot?#iefix') format('embedded-opentype'),
        url('/public/src/fonts/Manrope/Manrope-Medium.woff2') format('woff2'),
        url('/public/src/fonts/Manrope/Manrope-Medium.woff') format('woff'),
        url('/public/src/fonts/Manrope/Manrope-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('/public/src/fonts/Manrope/Manrope-ExtraBold.eot');
    src: local('Manrope ExtraBold'), local('Manrope-ExtraBold'),
        url('/public/src/fonts/Manrope/Manrope-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('/public/src/fonts/Manrope/Manrope-ExtraBold.woff2') format('woff2'),
        url('/public/src/fonts/Manrope/Manrope-ExtraBold.woff') format('woff'),
        url('/public/src/fonts/Manrope/Manrope-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoSansCyrl-300';
    src: url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot');
    src: local('MuseoSansCyrl-300'), local('MuseoSansCyrl-300'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff2') format('woff2'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff') format('woff'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansCyrl-100Italic';
    src: url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-100Italic.eot');
    src: local('MuseoSansCyrl-100Italic'), local('MuseoSansCyrl-100Italic'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-100Italic.eot?#iefix') format('embedded-opentype'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-100Italic.woff2') format('woff2'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-100Italic.woff') format('woff'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-100Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'MuseoSansCyrl-300Italic';
    src: url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-300Italic.eot');
    src: local('MuseoSansCyrl-300Italic'), local('MuseoSansCyrl-300Italic'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-300Italic.eot?#iefix') format('embedded-opentype'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-300Italic.woff2') format('woff2'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-300Italic.woff') format('woff'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-300Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'MuseoSansCyrl-100';
    src: url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-100.eot');
    src: local('MuseoSansCyrl-100'), local('MuseoSansCyrl-100'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-100.woff2') format('woff2'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-100.woff') format('woff'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-100.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansCyrl-900Italic';
    src: url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-900Italic.eot');
    src: local('MuseoSansCyrl-900Italic'), local('MuseoSansCyrl-900Italic'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-900Italic.eot?#iefix') format('embedded-opentype'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-900Italic.woff2') format('woff2'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-900Italic.woff') format('woff'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-900Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'MuseoSansCyrl-500';
    src: url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-500.eot');
    src: local('MuseoSansCyrl-500'), local('MuseoSansCyrl-500'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-500.woff2') format('woff2'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-500.woff') format('woff'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-500.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansCyrl-500Italic';
    src: url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.eot');
    src: local('MuseoSansCyrl-500Italic'), local('MuseoSansCyrl-500Italic'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.eot?#iefix') format('embedded-opentype'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.woff2') format('woff2'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.woff') format('woff'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'MuseoSansCyrl-700Italic';
    src: url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-700Italic.eot');
    src: local('MuseoSansCyrl-700Italic'), local('MuseoSansCyrl-700Italic'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-700Italic.eot?#iefix') format('embedded-opentype'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-700Italic.woff2') format('woff2'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-700Italic.woff') format('woff'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-700Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'MuseoSansCyrl-700';
    src: url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot');
    src: local('MuseoSansCyrl-700'), local('MuseoSansCyrl-700'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff2') format('woff2'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff') format('woff'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansCyrl-900';
    src: url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-900.eot');
    src: local('MuseoSansCyrl-900'), local('MuseoSansCyrl-900'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-900.woff2') format('woff2'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-900.woff') format('woff'),
        url('/public/src/fonts/MuseoSansCyrl/MuseoSansCyrl-900.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

